* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    background: linear-gradient(to right, #57ffb6, #70bdca);;
}

.background {
    background-color: #ffff;
}

.input[name="create"] {
    color: #ffff;
}